<!DOCTYPE html>
<html lang="en" ng-app='app'>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./style.css">
  <title>Document</title>
</head>

<body ng-controller="firstCtrl">
 <div class="content">
    <div class="sel">
      <input type="button" value="{{dayDefault}}" ng-click="show=!show" class="inpSelect" ng-blur="blurClose()" ng-style="inValid?{'border-color':'red'}: null">
      <ul class="chat-info" ng-show="show" ng-click="show=false">
        <li ng-repeat="day in dayArray" ng-click="setValue(day, 'day', $index)">{{day}}</li>
      </ul>
    </div>

    <div class="sel">
      <input type="button" value="{{monthDefault}}" ng-click="showw=!showw" class="inpSelect" ng-blur="blurClosew()">
      <ul class="chat-info" ng-show="showw" ng-click="showw=false">
         <li ng-repeat="month in monthArray" ng-click="setValue(month, 'month', $index)">{{month}}</li>
      </ul>
    </div>
 </div>
   
   

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script> -->
  <script src="./angular1.js"></script>
  <script src="./angular.js"></script>
</body>

</html>