<!DOCTYPE html>
<html lang="en" ng-app='app'>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./style.css">
  <title>Document</title>
</head>

<body ng-controller="FileImportController">


  <div data-ng-repeat="section in options">
    <h4>{{section.title }}</h4>

    <div class="radio" data-ng-show="section.type == 'radio'" data-ng-repeat="option in section.values">

      <input id="{{'optionsRadios' + section.id}}" type="radio" name="{{'optionsRadios' + section.id}}" data-ng-value="option.action"
        data-ng-model="section.value">

      <label for="{{'optionsRadios' + section.id}}"> {{option.text }} </label>
{{section.value}}
{{option.action}}
<!-- {{option.val}} -->

    </div>




    <div class="checkbox" data-ng-show="section.type == 'checkbox'" data-ng-repeat="option in section.values">
      <input id="{{option}}" type="checkbox" value="" data-ng-model="option.val" data-ng-disabled="option.disabled"
        class="color-for-checkbox">
      <label for="{{option}}" class="pt-3px">
        {{option.text }}
      </label>
      <span data-ng-show="option.disabled" class="red">*</span>
    </div>
  </div>



</body>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
<!-- <body ng-controller="firstCtrl">
 <div class="content">
    <div class="sel">
      <input type="button" value="{{dayDefault}}" ng-click="show=!show" class="inpSelect" ng-blur="blurClose()" ng-style="inValid?{'border-color':'red'}: null">
      <ul class="chat-info" ng-show="show" ng-click="show=false">
        <li ng-repeat="day in dayArray" ng-click="setValue(day, 'day', $index+1)">{{day}}</li>
      </ul>
    </div>

    <div class="sel">
      <input type="button" value="{{monthDefault}}" ng-click="showw=!showw" class="inpSelect" ng-blur="blurClosew()">
      <ul class="chat-info" ng-show="showw" ng-click="showw=false">
         <li ng-repeat="monthF in monthArray.first" ng-click="setValue(monthF, 'month', $index+1)">{{monthF}}</li>
         <li ng-repeat="monthS in monthArray.second" ng-click="setValue(monthS, 'month', $index+1)">{{monthS}}</li>
      </ul>
    </div>

    <div class="sel">
      <input type="button" value="{{yearDefault}}" ng-click="showww=!showww" class="inpSelect" ng-blur="blurClosew()">
      <ul class="chat-info" ng-show="showww" ng-click="showww=false">
         <li ng-repeat="year in yearArray" ng-click="setValue(year, 'year', $index+1)">{{year}}</li>
      </ul>
    </div>
 </div>
   
   {{result}}
   <button ng-click="sendPost(files); go=!go">Send files</button>
<div ng-show= "go">{{files.id}}cxc</div>-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
<script src="./angular1.js"></script>
<script src="./angular.js"></script>


</body> 

</html>