/* 

input.b-0 {
    border: 0;
}

.sel {
    position: relative;
    width: 100%;
}

.inpSelect {
    width: 12%;
    background-color: transparent;
    border: 1px solid #afadad;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.showOptions {}

.chat-info li:hover {
    background-color: #b2ddb5;
    border: 1px solid #afadad;
    border-radius: 5px;
}

select {
    width: 15%;
    background-color: rgb(40, 197, 93);
    cursor: pointer;
    border-radius: 5px;
}

.chat-info {
    max-height: 200px;
    overflow-x: auto;
    width: 10%;
    background-color: #9af1a1;
    border: 1px solid #afadad;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    list-style: none;
    margin-top: 0px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    text-align: center;
}

.chat-info::-webkit-scrollbar-track {
    border-radius: 30px;
    background-color: inherit;
}

.chat-info::-webkit-scrollbar {
    width: 6px;
    background-color: inherit;
}

.chat-info::-webkit-scrollbar-thumb {
    border-radius: 30px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.chat-info li {
    position: relative;
}

.content {
    display: flex;
}

/*  */

html{
    scroll-behavior: smooth;
}

.shadow{
    height: 50px;
    width: 100%;
    background-color: rgb(153, 224, 60);
    position: fixed;
    top: 0;
}
.shadow1{
    height: 50px;
    width: 100%;
}

.help-center-margin {
  margin-bottom: 28px;
  list-style: none;
}

ul.dashed {
  list-style-type: none;
}
ol.dashed {
  margin-left: 25px;
}

ol.dashed>li {
  padding: 0;
}

ul.dashed>li {
  text-indent: 0;
}

ul.dashed>li:before {
  content: "—";
  margin-right: 15px;
}

.paragraph-caret {
  white-space: pre-line;
}

.create-center-margin {
  margin-right: 10px;
}

.help-center-shop-set{
  list-style-position: inside;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.help-center-shop-set>li>a{
  padding-left: 10px;
  color: #d4652c;
}

.help-center-shop-set li:last-child a:last-child{
  padding-left: 0;
}

.help-center-shop-set>li{
  color: #d4652c;
  margin-bottom: 4px;
}

goods-header {
  margin-top: 22px;
}

.help-center-shop-set-nav{
  margin-bottom: 15px;
  margin-top: -26px;
}

.help-center-shop-set-p{
  font-size: 16px;
  font-weight: 600;
  margin-top: 21px;
}

.scrolling-box {
  scroll-behavior: smooth;
}



.scrollup {
    background: #d4652c no-repeat scroll 0 0;
    bottom: 50px;
    height: 65px;
    position: fixed;
    right: 15px;
    text-indent: -9999px;
    width: 65px;
    display:none;
}