* {
    box-sizing: border-box;
}

body {
    display: flex;
}

.img-zoom-container {
    position: relative;
}

.img-zoom-lens {
    position: absolute;
    width: 120px;
    height: 120px;
}

.img-zoom-result {
    border: 1px solid #d4d4d4;
    width: 300px;
    height: 300px;
}